
a {
    text-decoration: none !important;
}

body {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #888;
    background-color: #fff;
    text-align: justify;
}

ul {
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    color: #689F38;
}

hr.point{
    background: url(../img/dotted.png) left bottom repeat-x;
    margin: 0 0 24px 0;
    border: none;
}

hr.separator{
    background-color: #B6B6B6;
    padding: 2px 0;
    margin-bottom: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #689F38;
    border-color: #4CAF50;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:link, .btn-primary:focus {
    color: #fff;
    background-color: #689F38 !important;
    border-color: #4CAF50 !important;
}


/*
 *******************************
 * result research
 *******************************
 */
.search_title {
    margin-top: 35px;
    margin-bottom: 35px;
}

.item {
    display: block;
    border-bottom: 1px solid #CCC;
    padding-top: 20px;
    display: block;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}

.item:after{
  content: "";
  clear: both;
  display: table;
}
.item_title {
    margin: 0; 
}
.nav-tabs.search_tabs>li.active>a, .nav-tabs.search_tabs>li.active>a:focus, .nav-tabs.search_tabs>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #689F38;
    border: 1px solid #ddd;
    border-radius: 0px
}

.nav-tabs.search_tabs>li >a{
    color: #689F38;
}

.show_arianne {
    color: #ffffff;
    font-size: 18px;
}

h1.title_arianne {
    margin-top: 5px;
    color: #ffffff;
}

.item_head {
    margin-top: 10px;
    padding: 10px 5px;

}

.item_description {
    margin-top: 10px;
    padding: 10px 5px;

}

.item_description {
    margin-top: 10px;
    padding: 10px 5px;

}
/*
 *******************************
 * Search section
 *******************************
 */
#search_section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #689F38;
}


/*
 *******************************
 * Form
 *******************************
 */

.form-horizontal .form-group .control-label{
    font-weight: 100;
    font-size: 23px;
    line-height: 25px;
}

.form-control {
    height: 42px;
    font-size: 20px;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;

}

label.input-radio {
    cursor: pointer;
    padding-top: 0px;
}

input[type=radio] + label, form input, form select, form textarea {
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 500;
}
input[type="radio"]:not(:checked) + label, input[type="radio"]:checked + label {
    margin-top: 3px;
    position: relative;
    line-height: 25px;
    padding-left: 34px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

}
input[type="radio"]:not(:checked) + label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
}

input[type="radio"] + label:before, input[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
}
input[type="radio"]:not(:checked) + label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked + label:before {
    border-radius: 50%;
    border: 2px solid transparent;
}

input[type="radio"]:checked + label:after {
    border-radius: 50%;
    border: 2px solid #795548;
    background-color: #795548;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}


input[type=checkbox] + label, form input, form select, form textarea {
    font-family: "Lato", Helvetica;
    font-size: 25px;
    font-weight: 500;
}
input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
    margin-top: 3px;
    position: relative;
    line-height: 25px;
    padding-left: 34px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

}
input[type="checkbox"]:not(:checked) + label:before {

    border: 2px solid #5a5a5a;
}

input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    -ms-transition: .28s ease;
    transition: .28s ease;
}
input[type="checkbox"]:not(:checked) + label:after {

    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="checkbox"]:checked + label:before {

    border: 2px solid transparent;
}

input[type="checkbox"]:checked + label:after {

    border: 2px solid #795548;
    background-color: #795548;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.fake-input {
        border: none;
    box-shadow: none;
}
.image_photography {
    background-color: #689F38;
    padding-left: 20px;
    border-radius: 5px;
    height: 187px;
    background-repeat: no-repeat;
    background-position: center center;
}
.image_photography > span {
    font-size: 181px;
    color: #fff;
}
.image_photography + .btn + .btn,
.image_photography + .btn{
    margin-top: 20px; 
}

/*
 *******************************
 * Spacer
 *******************************
 */
.spacer5 {
    position: relative;
    height: 5px;
}

.spacer10 {
    position: relative;
    height: 10px;
}

.spacer15 {
    position: relative;
    height: 15px;
}

.spacer20 {
    position: relative;
    height: 20px;
}

.spacer30 {
    position: relative;
    height: 30px;
}

.spacer40 {
    position: relative;
    height: 40px;
}



/*
 *******************************
 * Home page
 *******************************
 */


.headline {
    font-family: "Indie flower",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 60px;
    color: #B6B6B6;
}

.btn-primary.btn-home {
    display: block;
    margin-top: 20px;
    font-size: 25px;
}

/*
 *******************************
 * Passer une annonce
 *******************************
 */

h1.head-title:after,
h1.head-title:before  {
    content: " ";
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 16px .25em;
    border-bottom: 2px solid rgb(114, 114, 114);
    display: inline-block;
}

h1.head-title {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

h1.head-title + a {
        display: block;
}

/*
 *******************************
 * Help
 *******************************
 */

 #sommaire {
	 margin-left : 30px;
	 margin-bottom : 30px;
	 border-left: 2px solid green;
 }
 .som {
	 margin-left: 20px;
	 text-decoration: none;
 }
 
 .cat{
	 font-weight : bold;
 }
 
 .question{
	 font-size : 16px;
	 font-weight : bold;
	 color : #42C200;
 }
 
 .reponse{
	 margin-left : 20px;
 }
 
/*
 *******************************
 * Footer
 *******************************
 */

 footer#main-footer .pre-footer {
    margin-top: 20px;
    height: 10px;
    background-color: #727272;
}
footer#main-footer section {
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: 150px;
    background-color: #689F38;
}

footer#main-footer .wrap-footer p,
footer#main-footer .wrap-footer a {
    color: #ffffff;
}


footer#main-footer .wrap-footer p.first {
    margin: 0;
}

footer#main-footer .wrap-footer li.links a:first-child {
    border-left: none;
}

footer#main-footer .wrap-footer li.links a {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: 100;
    transition: all .2s ease-out 0s;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -khtml-transition: all .2s ease-out 0s;
    display: inline-block;
    zoom: 1;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    text-transform: uppercase;
    border-left: 1px solid #ffffff;
}

footer#main-footer .wrap-footer p.second,
.credits {
    font-family: "Indie Flower",Helvetica,Arial,sans-serif;
    font-size: 23px;
    padding-left: 5px;
}


.green-color {
   color: #689F38; 
}

.autocomplete-suggestions { 
    background: #ffffff; 
    overflow: auto; 
    padding: 6px 12px;
    width: 100%
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
   font-size: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.autocomplete-suggestion {
    cursor: pointer;
    padding: 2px 5px; ;

    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-selected { 
    background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
    font-weight: normal;
    color: #3399FF; 
}



/*
 *******************************
 * Header de folie
 *******************************
 */

header#main-header {
    width: 100%;
}

header#main-header .color {
    height: 12px;
    width: 100%;
    background-color: #689F38;
}

header#main-header a.logo {
    margin-top: 10px;
    display: block;
    padding: 10px 0;
}

header#main-header nav#navbar {
    margin-top: 25px;
}

header#main-header nav#navbar ul.navbar-collapse li {
    text-align: center;
    padding: 0 15px;
    display: block;
    float: none;
    border: 0;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;

}

header#main-header nav#navbar ul.navbar-collapse li a{
    width: 100%;
    height: 100%;
    display: block;

}

header#main-header .navbar-default .logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.navbar-collapse {
    padding: 0px;
    margin: 0px;
}


header#main-header nav#navbar ul.navbar-collapse li,
.navbar-toggle {
    color: #689F38;
    background-color: #f6f6f6;
}

header#main-header nav#navbar ul.navbar-collapse li {
    border-bottom: 3px solid #e9e9e9;
    padding: 5px 0 5px;
}

.navbar-toggle{
    float: none;
    border-width: 0 0 3px 0px;
    cursor: pointer;
    margin: 0px;

    border-radius: 0px;
    text-align: center;
    font-weight: 900;
    font-size: 22px;
}

header#main-header nav#navbar ul.navbar-collapse li.active a,
header#main-header nav#navbar ul.navbar-collapse li:hover a,
header#main-header nav#navbar ul.navbar-collapse li.active,
header#main-header nav#navbar ul.navbar-collapse li:hover,
.navbar-toggle:hover{
    color: #ffffff;
    background-color: #689F38;
}


.region-list {
     text-align: center;
     font-size: 19px;
}

.welcome_message {
    display: inline-block;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 21px;
}
.welcome_message > a {
    margin-top: -14px;
    font-size: 15px;
    display: block;
}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .nav.navbar-nav{ 
      margin: 20px 0;
    }

    header#main-header a.logo {
        margin-top: 20px;
    }
    header#main-header nav#navbar{
        float: right;
    }

    header#main-header nav#navbar ul.navbar-collapse li:first-child {
        border-left: none;
    }

    header#main-header nav#navbar ul.navbar-collapse li {
        display: block;
        float: left;
        border-left: 1px solid #727272;
        background-color: #ffffff;
        border-width: 0px 0px 0px 1px;
        padding: 0 0px;
    }

    .region-list {
        text-align: left;
    }

    .headline {
        text-align: left;
        margin-bottom: 10px;
    }

}
@media (min-width: 1200px) {
    header#main-header nav#navbar ul.navbar-collapse li {
        padding: 0 15px;
    }
}

@media (min-width: 1600px) {
    header#main-header nav#navbar ul.navbar-collapse  li {
        padding: 0 20px;
    }
}


/**

a degager

**/

.map-france{
    width: 100%;
}
